.container {
  margin: 80px auto;
  max-width: 1024px;
  width: 80%;
}

.input-group {
  margin-top: 16px;
}

.input-label {
  display: block;
  font-size: 24px;
  font-weight: bold;
}

textarea {
  resize: none;
  min-height: 200px;
}

.input {
  border: 1px solid #E1E2E2;
  border-radius: 6px;
  font-size: 20px;
  margin-top: 8px;
  padding: 10px;
  outline: none;
  width: 100%;
  color: #FFF;
  background-color: transparent;
}

.button {
  background: #6BE067;
  border-radius: 6px;
  font-size: 18px;
  color: #FFFFFF;
  padding: 8px 32px;
  border: none;
  margin-top: 16px;
  cursor: pointer;
  transition: 0.3s all;
}

.button:hover {
  transform: scale(1.025);
}

.topic-group {
  margin-top: 80px;
}

.topic {
  width: 100%;
  margin-bottom: 40px;
}

.topic-title {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
}

.topic-description {
  font-size: 18px;
  margin-top: 16px;
}